@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton.ttf") format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NYCD";
  src: url("../fonts/NothingYouCouldDo.woff2") format('woff2'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  border-radius: 0;
  box-shadow: 0 -15px 15px rgba(36, 36, 36, 0.2);
  overflow: hidden;
}


.cursor {
  border-right: 2px solid #111111;
  animation: blink 0.6s infinite step-end;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




